version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: dg-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: dg-backend
    restart: always
    ports:
      - "5050:5050"
    environment:
      - MONGO_URI=mongodb://mongo:27017/dealguaranty
      - PORT=5050
    depends_on:
      - mongo

volumes:
  mongo_data:

