# trigger pipeline
name: Deploy to EKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push backend image
        run: |
          docker build -t dealguaranty-backend ./backend
          docker tag dealguaranty-backend:latest 338585185814.dkr.ecr.us-east-1.amazonaws.com/dealguaranty-backend:latest
          docker push 338585185814.dkr.ecr.us-east-1.amazonaws.com/dealguaranty-backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t dealguaranty-frontend ./frontend
          docker tag dealguaranty-frontend:latest 338585185814.dkr.ecr.us-east-1.amazonaws.com/dealguaranty-frontend:latest
          docker push 338585185814.dkr.ecr.us-east-1.amazonaws.com/dealguaranty-frontend:latest

